<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_noads</string>
      <key>productPrice</key>
      <string>$19.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_yueka</string>
      <key>productPrice</key>
      <string>$9.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_caiwu_01</string>
      <key>productPrice</key>
      <string>$19.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_caiwu_02</string>
      <key>productPrice</key>
      <string>$9.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_caiwu_03</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_lixian_01</string>
      <key>productPrice</key>
      <string>$19.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_lixian_02</string>
      <key>productPrice</key>
      <string>$9.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_lixian_03</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_chaopiao_02</string>
      <key>productPrice</key>
      <string>$1.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_chaopiao_03</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_zuanshi_160</string>
      <key>productPrice</key>
      <string>$1.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_zuanshi_500</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_zuanshi_1200</string>
      <key>productPrice</key>
      <string>$9.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_zuanshi_2500</string>
      <key>productPrice</key>
      <string>$19.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_zuanshi_6500</string>
      <key>productPrice</key>
      <string>$49.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_zuanshi_14000</string>
      <key>productPrice</key>
      <string>$99.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_xingyunlibao</string>
      <key>productPrice</key>
      <string>$9.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221027_xingyunlibao_half</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_jianglizuheliBao</string>
      <key>productPrice</key>
      <string>$10.00</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_maoyitequan</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_yanjiushi_01</string>
      <key>productPrice</key>
      <string>$6.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_yanjiushi_02</string>
      <key>productPrice</key>
      <string>$6.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221026_tequanlibao</string>
      <key>productPrice</key>
      <string>$29.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221027_chengzhanglibao01</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221027_chengzhanglibao02</string>
      <key>productPrice</key>
      <string>$6.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221027_chengzhanglibao03</string>
      <key>productPrice</key>
      <string>$9.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221027_chengzhanglibao04</string>
      <key>productPrice</key>
      <string>$14.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221027_noadspacks</string>
      <key>productPrice</key>
      <string>$15.99</string>
      <key>productType</key>
      <string>2</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221201_activitydollar01</string>
      <key>productPrice</key>
      <string>$1.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221201_activitydollar02</string>
      <key>productPrice</key>
      <string>$4.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
    <dict>
      <key>productID</key>
      <string>idle09_20221201_stockrolls</string>
      <key>productPrice</key>
      <string>$1.99</string>
      <key>productType</key>
      <string>1</string>
    </dict>
  </array>
</plist>